<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-light" style="background-color:#e5e969;">
            <div class="container">
                <a asp-action="index" asp-controller="Home" class="navbar-brand">Sözlük Forum</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div style="margin-right:5%;" class="text-right">
                <h5 >Admin Panel</h5>
            </div>
        </nav>
        <nav class="navbar navbar-expand-md navbar-light" style="background-color:#e5e969; height:auto;">
            <div class="container">
                <a asp-controller="Panel" asp-action="Index" class="nav-item nav-link">@localizer["kullanicilar"]</a>
                <a asp-controller="Panel" asp-action="ForumIndex" class="nav-item nav-link">@localizer["sorular"]</a>
                <a asp-controller="Panel" asp-action="YorumIndex" class="nav-item nav-link">@localizer["yorumlar"]</a>
            </div>
        </nav>
    </header>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
